<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuna.gomen.mapper.BoardMapper">
    <!-- resultMap 정의 -->
    <resultMap id="BoardResultMap" type="com.tuna.gomen.board.domain.entity.BoardEntity">
        <id property="postId" column="post_id"/>
        <result property="category" column="category"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="isBlinded" column="is_blinded"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <!-- findAll 쿼리 추가 -->
    <select id="findAll" resultMap="BoardResultMap">
        SELECT
            post_id,
            category,
            title,
            content,
            created_at,
            modified_at,
            is_blinded,
            is_deleted,
            user_id
        FROM tbl_board
        ORDER BY created_at DESC
    </select>


    <!-- 특정 사용자의 게시글 조회 -->
    <!-- http://localhost:8080/gomen/boards/user?userId=5 -->
    <select id="findByUserId" resultMap="BoardResultMap">
        SELECT * FROM tbl_board
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <!-- 특정 카테고리의 게시글 조회 -->
    <!-- http://localhost:8080/gomen/boards/category?category=3 -->
    <select id="findByCategory" resultMap="BoardResultMap">
        SELECT * FROM tbl_board
        WHERE category = #{category}
        ORDER BY created_at DESC
    </select>

    <!-- 특정 키워드가 포함된 제목의 게시글 조회 -->
    <!-- http://localhost:8080/gomen/boards/search?keyword=자바 -->
    <select id="findByTitleKeyword" resultMap="BoardResultMap">
        SELECT * FROM tbl_board
        WHERE title LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY created_at DESC
    </select>






</mapper>
